@import "tailwindcss";

@theme {
  --color-cosmic-orange: #A84B2F;
  --color-cosmic-apricot: #F4A261;
  --color-cosmic-teal: #0B363C;
  --color-cosmic-light-teal: #DEF7F9;

  --font-mono: 'Berkeley Mono', 'Courier New', monospace;
}
